

<div class="container mt-5 mb-5">
    <p>Please select one the options below to do an operation</p>
    <a class="btn btn-info" asp-controller="Portal" asp-action="Booking" target="_blank">Make a Booking</a>
    <a class="btn btn-danger" asp-controller="Portal" asp-action="BookingCancellation" target="_blank">Cancel a Booking</a>
    <a class="btn btn-success" asp-controller="Portal" asp-action="BookingCheckOut" target="_blank">If you are a customer, Checkout a Booking</a>
    <a class="btn btn-dark" asp-controller="Portal" asp-action="BookingList" target="_blank">Check Bookings made</a>
</div>